{% extends "base.html" %}
{% from "./macros/breadcrumbs.html" import breadcrumbs %}
{% from "./macros/grid-container.html" import grid_container %}
{% from "./macros/card.html" import card %}
{% from "./macros/nothing-here.html" import nothing_here %}
{% from "./macros/add-new-item-button.html" import add_new_item_button %}
{% block content %}
    <main class="w-full">
        {{ breadcrumbs([navigation["home"], current_page]) }}
        <section
                class="flex flex-col justify-center items-center w-full h-full min-h-screen bg-gray-100 dark:bg-gray-900 py-10 px-12"
        >
            {{ add_new_item_button(url_for('BulbView', id='new')) }}
            <div class="w-full flex flex-col">
                {% for room_name, bulbs in bulbs_by_room_name.items() %}
                    <div
                            class="my-6 flex flex-col border border-gray-300 dark:border-gray-700 rounded-md p-8">
                        <a
                                href="{{ url_for('RoomView', id=bulbs[0].room_id) }}"
                                class="self-end"
                        >
                            <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                                {{ room_name }}
                            </h2>
                        </a>
                        {% call grid_container() %}
                            {% for bulb in bulbs %}
                                {% call card(bulb) %}
                                    <div class="p-4 self-start">
                                        <a class="text-lg hover:-translate-y-[2px] mb-4 font-semibold leading-relaxed text-gray-200 dark:text-white"
                                           href="{{ url_for("BulbView", id=bulb["id"]) }}"
                                        >{{ bulb["name"] }}
                                        </a>
                                        {% if bulb["description"] %}
                                            <small class="leading-5 text-gray-500 dark:text-gray-400">
                                                {{ bulb["description"] }}
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div id="bulb-info-{{ bulb["id"] }}" class="px-2 mb-4">
                                        <div
                                                hx-get="{{ url_for('bulb_with_state', id=bulb["id"]) }}"
                                                hx-trigger="load"
                                                hx-swap="innerHTML"
                                                hx-indicator="app-spinner"
                                                hx-target="#bulb-info-{{ bulb["id"] }}"
                                        ></div>
                                        {{ spinner | safe }}
                                    </div>
                                {% endcall %}
                            {% endfor %}
                        {% endcall %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock content %}