{% macro add_new_item_button(href) %}
    <a href="{{ href }}">
            <span
                    role="button"
                    class="self-center text-white bg-pink-700
                           hover:bg-indigo-700 focus:outline-none
                           focus:ring-4 focus:ring-purple-300
                           font-medium rounded-md text-md px-4 py-3
                           text-center mb-4 dark:bg-pink-700
                           dark:hover:bg-indigo-700
                           dark:focus:ring-purple-900"
            >
                + Dodaj Nowy
            </span>
    </a>
{% endmacro %}