{% macro bulb_state_toggle_form(bulb) %}
    <form id="bulb-{{ bulb.id }}-state-form">
        <input type="hidden" name="bulb_state_value" value="{{ bulb.wiz_info["state"] }}"/>
        <label for="bulb_state">
            <span class="sr-only">Toggle bulb state</span>
        </label>
        <input name="bulb_state" id="bulb_state" type="checkbox"
               toggle {{ "checked" if bulb.wiz_info["state"] }}
               hx-post="{{ url_for('toggle_bulb_state', id=bulb.id) }}"
               hx-target="#bulb-{{ bulb.id }}-state-form"
               hx-swap="outerHTML"/>
    </form>
{% endmacro %}