{% macro card_grid(records, link_route_name, pk='id') %}
    <!-- Card Grid -->
    {% if records | length == 0 %}
        <div class="mb-4 mx-auto max-w-screen-sm flex flex-col gap-2 justify-center items-center">
            <h3
                    class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
                Pusto :>
            </h3>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400 mx-4">
                Może pora coś tutaj dodać.
            </p>
        </div>
    {% else %}
        <div
                class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            {% for record in records %}
                <!-- Card Item -->
                <div
                        id="card-item-{{ record[pk] }}"
                        class="my-8 rounded-md text-white bg-indigo-700 hover:bg-pink-700 flex flex-col shadow-gray-200 dark:shadow-gray-900  duration-300 hover:-translate-y-1"
                >
                    <div class="p-4 self-start">
                        <p
                                class="text-lg mb-4 font-semibold leading-relaxed text-gray-200 dark:text-white">
                            {{ record['name'] }}
                        </p>
                        {% if record['description'] %}
                            <small class="leading-5 text-gray-500 dark:text-gray-400">
                                {{ record['description'] }}
                            </small>
                        {% endif %}
                    </div>
                    {% if record.bulbs %}
                        {{ caller(record.bulbs) }}
                    {% else %}
                        {{ caller() }}
                    {% endif %}
                    <a
                            href="{{ url_for(link_route_name, id=record[pk]) }}"
                            class="cursor-pointer self-end m-4"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="20"
                                width="20"
                                class="fill-white self-end"
                                viewBox="0 0 512 512"
                        >
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                            <path
                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"></path>
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}