{% from "./macros/bulb-state-toggle-form.html" import bulb_state_toggle_form %}
{% from "./macros/bulb-random-color-button.html" import bulb_random_color_button %}

<span
        id="bulb-link"
        class="flex flex-row items-center justify-center w-fit h-fit px-4 py-2 text-white bg-indigo-400 hover:bg-purple-500 border border-gray-200 rounded-full cursor-pointer"
>
    <span
            id="bulb-icon"
            hx-trigger="reload-bulb-{{ bulb.id }}-icon from:body"
            hx-target="this"
            hx-swap="innerHTML"
            hx-get="{{ url_for('get_bulb_icon', id=bulb["id"]) }}"
    >
        {{ bulb_icon | safe }}
    </span>
    {% if bulb.wiz_info["state"] is defined %}
        {{ bulb_state_toggle_form(bulb) }}
        {{ bulb_random_color_button(bulb) }}
    {% endif %}
    <a href="{{ url_for('BulbView', id=bulb.id) }}">
        {% if with_name %}
            <p class="ml-2">{{ bulb.name }}</p>
        {% endif %}
    </a>
</span>
