{% extends "base.html" %}
{% block content %}
    {% from "./macros/breadcrumbs.html" import breadcrumbs %}
    {{ breadcrumbs([navigation["home"], navigation['bulbs'], current_page]) }}
    <main class="w-full h-screen">
        <section
                class="flex flex-col w-full h-full bg-gray-100 dark:bg-gray-900 py-10 px-12"
                x-data="{ detailsFormOpen: false, controlFormOpen: true }"
        >
            <div
                    id="bulb-details-form"
                    x-show="detailsFormOpen"
                    x-transition.duration.500ms
            >
                {% include "./views/bulbs/:id/bulb-details-form.html" %}
            </div>
            <span
                    role="button"
                    class="self-end"
                    id="openControlForm"
                    @click="controlFormOpen = true; detailsFormOpen = false;"
                    x-show="!controlFormOpen"
                    x-transition.duration.500ms
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="hover:fill-pink-700 fill-indigo-700 w-12 h-12"
                     viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
                        d="M192 64C86 64 0 150 0 256S86 448 192 448H448c106 0 192-86 192-192s-86-192-192-192H192zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24v32h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H216v32c0 13.3-10.7 24-24 24s-24-10.7-24-24V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h32V200z"></path></svg>
            </span>
            <div
                    id="bulb-control-form"
                    x-show="controlFormOpen"
                    x-transition.duration.500ms>
                {% include "./views/bulbs/:id/bulb-control-form.html" %}
            </div>
            <span
                    role="button"
                    class="self-end"
                    id="detailsControlForm"
                    @click="controlFormOpen = false; detailsFormOpen = true;"
                    x-show="!detailsFormOpen"
                    x-transition.duration.500ms
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-8 h-8 hover:fill-pink-700 fill-indigo-700"
                        viewBox="0 0 512 512"
                >
                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                        <path
                                d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"></path>
                    </svg>
            </span>
        </section>
    </main>
{% endblock content %}