{# TODO: make into macro and unify with bulb toggle #}
<form id="room-{{ room.id }}-state-form">
    <input type="hidden" name="room_state_value" value="{{ room.bulbs_state }}"/>
    <label for="room_state">
        <span class="sr-only">Toggle all bulbs in room state</span>
    </label>
    <input name="room_state" id="room_state" type="checkbox"
           toggle {{ "checked" if room.bulbs_state }}
           hx-post="{{ url_for('toggle_room_state', id=room.id) }}"
           hx-target="#room-{{ room.id }}-state-form"
           hx-swap="outerHTML"
    />
</form>
