{# TODO: make into macro/component #}
<form id="room-{{ room.id }}-brightness-form">
    <label for="group_brightness">
        <span class="sr-only">Ustaw jasność</span>
    </label>
    <input name="group_brightness" id="group_brightness" type="range"
           value="{{ room.bulbs_brightness }}"
           class="accent-blue-500 origin-left scale-[1.8] w-4/5"
           hx-post="{{ url_for('change_room_brightness', id=room.id) }}"
           hx-target="#room-{{ room.id }}-brightness-form"
           hx-swap="outerHTML"
           hx-trigger="change, reloadRoom{{ room.id }}BulbsBrightness from:body"
           min="10"
           max="100"
    />
</form>
